.container{
    display: flex;
    flex-direction: column-reverse  ;
    color: #fff;
    gap: 2rem;
    align-items: center;
    width: 95%;
    margin: 10rem auto;
    justify-content: space-between;
}

.container h3 {
    font-size: 3.3rem;
}

.containerInfo{
    display: flex;
    gap: 3rem; 
}

.containerParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
}
@media only screen and (max-width: 600px) {
    .container {
     display: flex;
     flex-direction: column;
     width: 90%;
    }
    .containerInfo{
        display: flex;
        flex-direction: column;
    }
    .containerTitle {
        display: flex;
    }
    .containerTitle>h3{
        font-size: 2rem;
        margin: 1rem auto;
    }
    .containerInfo >img{
        width: 90%;
    }
    .imgContainer{
     width: 5rem;
    }
    .imgContainer >img{
     width: 3rem;
    }
 }