.container{
    display: flex;
    flex-direction: column-reverse  ;
    color: #fff;
    gap: 2rem;
    align-items: center;
    width: 95%;
    margin: 10rem auto;
    justify-content: space-between;
}

.container h3 {
    font-size: 3.3rem;
}

.containerInfo{
    display: flex;
    gap: 3rem; 
}

.containerParagraph {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.8rem;
}