.container{
    display: flex;
    flex-direction: column;
    margin-top: 7%;

}
.containerTitle{
    display: flex;
    justify-content: center;
    color: #fff;
    
}
.containerPar{
    display: flex;
    margin: 1rem auto 0 auto;
    justify-content: center;
    color: #fff;
    width: 80%;
    font-size: 1.5rem;
}
.containerCarrousel {
   width: 50%;
   height: 80%;
   margin: 0 auto;
}
.containerCarrouselImg {
    margin: 0 auto;
    
}
.containerCarrouselImg img {
    width: 53rem;
    height: 53rem;
    margin: 0 auto;
}