.container {
    display: flex ;
    align-items: center;
    color: #fff;
    margin: 5px auto;
    gap: 45rem;

}

.imgContainer {
    display: flex;
    justify-content: center;
    margin-right: 35rem;
}
.imgContainer img{
    display: flex;
    width: 50%;
    border-radius: 50%;
    
}
.navegation{
    display: flex;
    margin-right: 3rem;
    
}
.navegationList{
    display: flex;
    gap: 3rem;
    font-size: 2rem;
    
    
}
ul{
    justify-content: space-between;
    list-style-type: none;
} 