@font-face {
  /* font-family: 'bahnshchrift'; */
  font-family: 'soberana';
  /* src: url('/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF'); */
  src: url('/soberana-san/SoberanaSans-Italic.otf');

}
*{
  margin: 0;
  padding: 0;
  font-family: 'soberana';
  font-weight:10;
}