.container {
    display: flex;
    background-image: url("./FOOTER.jpg");
    width: 100%;
    background-position: center;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.containerSocial {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #76879496;
    gap: 3rem;
    justify-content: center;
}
.containerSocial a{
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
}
@media only screen and (max-width: 600px) {
    .container{
        width: 23.2rem;
    }
   .containerSocial {
    width: 23.2rem;
    margin: 0 auto;
   }
   .containerSocial >a {
    width: 90%;
    font-size: 1rem;
   }
}